{% block stag2_notification_plugin_icon %}
    <div class="stag2-notification-plugin-icon">
        <img :src='"/dcglobalnotification/static/img/plugin.png" | asset' class="stag2-notification-plugin-icon" />
    </div>
{% endblock %}