.notification-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  border-bottom: 1px solid;
  min-height: 50px;

  .close-notification{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-size: 19px;
    line-height: normal;
  }

  .notification-content{
    margin-bottom: 0;
  }
}