{% block dc_notification_plugin_icon %}
    <div class="dc-notification-plugin-icon">
        <img :src='"/dcglobalnotification/static/img/plugin.png" | asset' class="dc-notification-plugin-icon" />
    </div>
{% endblock %}